<%- include ./layout/cabecalho.ejs %>

<div class="container text-center my-3">
    <h2 class="font-weight-light">Bootstrap 4 Multi Item Carousel</h2>
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
            <div class="carousel-inner w-100" role="listbox">
                <div class="carousel-item active">
                    <div class="col-lg-4 col-md-4">
                        <div class="movie-card m-1">
                            <div class="movie-img">
                                <a href="#">
                                    <img src="assets/01.png" class="img-fluid" width="300px" height="300px" />
                                </a>
                            </div>
                            <div class="movie-title">
                                <a href="#">
                                    <p class="text-white text-sm-center font-small flex-center">
                                        AVENGED SEVENFOLD
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-4">
                        <div class="movie-card m-1">
                            <div class="movie-img">
                                <a href="#">
                                    <img src="assets/02.png" class="img-fluid" width="300px" height="300px" />
                                </a>
                            </div>
                            <div class="movie-title">
                                <a href="#">
                                    <p class="text-white text-sm-center font-small flex-center">
                                        MUSE
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-4">
                        <div class="movie-card m-1">
                            <div class="movie-img">
                                <a href="#">
                                    <img src="assets/03.jpg" class="img-fluid" width="300px" height="300px" />
                                </a>
                            </div>
                            <div class="movie-title">
                                <a href="#">
                                    <p class="text-white text-sm-center font-small flex-center">
                                        KINGS OF LEON
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-4">
                        <div class="movie-card m-1">
                            <div class="movie-img">
                                <a href="#">
                                    <img src="assets/04.jpg" class="img-fluid" width="300px" height="300px" />
                                </a>
                            </div>
                            <div class="movie-title">
                                <a href="#">
                                    <p class="text-white text-sm-center font-small flex-center">
                                        PEARL JAM
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-4">
                        <div class="movie-card m-1">
                            <div class="movie-img">
                                <a href="#">
                                    <img src="assets/05.jpg" class="img-fluid" width="300px" height="300px" />
                                </a>
                            </div>
                            <div class="movie-title">
                                <a href="#">
                                    <p class="text-white text-sm-center font-small flex-center">
                                        PINK FLOYD
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-4">
                        <div class="movie-card m-1">
                            <div class="movie-img">
                                <a href="#">
                                    <img src="assets/06.jpg" class="img-fluid" width="300px" height="300px" />
                                </a>
                            </div>
                            <div class="movie-title">
                                <a href="#">
                                    <p class="text-white text-sm-center font-small flex-center">
                                        FOO FIGHTERS
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="col-lg-4 col-md-4">
                        <div class="movie-card m-1">
                            <div class="movie-img">
                                <a href="#">
                                    <img src="assets/07.png" class="img-fluid" width="300px" height="300px" />
                                </a>
                            </div>
                            <div class="movie-title">
                                <a href="#">
                                    <p class="text-white text-sm-center font-small flex-center">
                                        RED HOT CHILLI PEPPERS
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev bg-dark w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next bg-dark w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <h5 class="mt-2">Advances one slide at a time</h5>
</div>

<script src="js/index.js"></script>

<%- include ./layout/rodape.ejs %>